rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && 
             exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
    
    function isMallOwner() {
      return request.auth != null && 
             exists(/databases/$(database)/documents/mallOwners/$(request.auth.uid));
    }
    
    function isUser() {
      return request.auth != null && 
             exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
